*{
    box-sizing: border-box;
}
/* .input-kutusu{
    flex-direction: column;
    height: 10vh;
    width: 20vw;
    margin-top: 10vh;
    margin-left: 25vw;
    align-items: center;
    overflow-x: hidden;
    border-radius: 3px;
    border: 1px solid red;
} */
.allbox{
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 40vw;
    margin-top: 10vh;
    margin-left: 25vw;
    align-items: center;
    overflow-x: hidden;
    border-radius: 3px;
    border: 1px solid black;
}

.inputbox{
    display: flex;
    width: 5vw;
    height: 5vh;
}
.textbox{
    display: flex;
    flex-direction: column;
    width: 10vw;
    height: 10vh;
}
.textbox h3{
    width: 30vw;
}
.textbox p{
    width: 30vw;
}
/* li{
    list-style: none;
}
#box1{
    display: flex;
    height: 20vh;
    width: 40vw;
    margin-top: 15vh;
    margin-left: 25vw;
    align-items: center;
    border-radius: 3px;
    border: 1px solid black;
}
#check1{
    display: flex;
}
#img1{
    display: flex;
    padding-left: 2vw;
    padding-right: 2vw;
}
#text1{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 20vh;
}
*/
@media screen and (max-width: 768px){
    .allbox{
        width: 96vw;
        margin-top: 1%;
        margin-left: 2%;
        
    }
    .textbox h3{
        margin-top: 0vh;
        height: 7vh;
        width: 60vw;
    }
    .textbox p{
        margin-top: 0vh;
        height: 7vh;
        width: 60vw;
    }
} 